/* CSS Document */
.container{
	width:90%;
	margin:0 auto;
	background:#555555;
	color:#2FD097;
}
.container .nombre{float: right; width: 60%; }
.container .nombre h1,.container .nombre b , a{text-transform:uppercase;}
.container .nombre h1{font-size:200%;}
.container img {float:left; width:40%;}
.clear{clear:both;}
.container .links{width:100%; float: right; background:#404E51}
.container .links ul{list-style: none; margin: 0; padding:0;}
.container .links li{display:inline-block; text-align: center;}
.container .links li a{display:inline-block; padding: 5px 15px; margin:10px; background:gray; color:#000000; text-decoration: none;}
.container .links li a:hover{background:#6C00C8; color:#4F596A;}
